In [276]:
# Import necessary modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import TfidfVectorizer
# Vectorization
from sklearn.preprocessing import OneHotEncoder

In [256]:
account_path = 'GL_ACC_202311280837.csv'
cash_book_path = 'GL_CB_202311280836.csv'
cash_book_detail_path ='GL_CBDTL_202311280914.csv'

In [257]:
# Read the CSV file into a pandas DataFrame
account = pd.read_csv(account_path)
cash_book = pd.read_csv(cash_book_path)
cash_book_detail = pd.read_csv(cash_book_detail_path)

C:\Users\Dan\AppData\Local\Temp\ipykernel_5448\3666641412.py:4: DtypeWarning: Columns (13,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  cash_book_detail = pd.read_csv(cash_book_detail_path)

In [258]:
account.head()

,DOCKEY,PARENT,CODE,DESCRIPTION,DESCRIPTION2,ACCTYPE,SPECIALACCTYPE,TAX,CASHFLOWTYPE,SIC
0,1,-1,_CP_,EQUITY,NaN,CP,,NaN,0,NaN
1,2,1,100-000,Capital,NaN,CP,,NaN,0,NaN
2,3,-1,_RV_,RESERVE,NaN,RV,,NaN,0,NaN
3,4,-1,_RE_,RETAINED EARNING,NaN,RE,,NaN,0,NaN
4,5,4,150-000,Retained Earning,NaN,RE,,NaN,0,NaN

In [259]:
cash_book.head()

,DOCKEY,DOCNO,DOCTYPE,DOCDATE,POSTDATE,TAXDATE,DESCRIPTION,DESCRIPTION2,PAYMENTMETHOD,AREA,...,LOCALDOCAMT,FROMDOCTYPE,BOUNCEDDATE,GLTRANSID,CANCELLED,DEPOSITKEY,UPDATECOUNT,PRINTCOUNT,ATTACHMENTS,NOTE
0,320,PV-1311/001,PV,2013-11-30,2013-11-30,2013-11-30,NG KOK LIANG,Payment For SSM Registration and Printing,301-001,----,...,3209.00,NaN,NaN,167,F,NaN,NaN,0,NaN,NaN
1,322,PV-1311/002,PV,2013-11-20,2013-11-20,2013-11-20,OLIVER LEE FU ONN,Payment For Nov'13 Staff Salary,301-001,----,...,3270.25,NaN,NaN,168,F,NaN,NaN,0,NaN,NaN
2,328,PV-1311/003,PV,2013-11-30,2013-11-30,2013-11-30,KUMPULAN WANG SIMPANAN PEKERJA,Payment For Nov'13 Staff EPF Contribution,301-001,----,...,480.00,NaN,NaN,169,F,NaN,NaN,0,NaN,NaN
3,330,PV-1311/004,PV,2013-11-30,2013-11-30,2013-11-30,PERTUBUHAN KESELAMATAN SOSIAL,Payment For Nov'13 Staff Socso,301-001,----,...,43.90,NaN,NaN,170,F,NaN,NaN,0,NaN,NaN
4,332,PV-1312/001,PV,2013-12-31,2013-12-31,2013-12-31,KUMPULAN WANG SIMPANAN PEKERJA,Payment For Dec'13 Staff EPF Contribution,301-001,----,...,480.00,NaN,NaN,171,F,NaN,NaN,0,NaN,NaN

In [260]:
cash_book_detail.head()

,DTLKEY,DOCKEY,SEQ,AREA,AGENT,PROJECT,CODE,DESCRIPTION,GST_DOCDATE,GST_DOCNO,...,TARIFF,TAXRATE,TAXAMT,LOCALTAXAMT,TAXINCLUSIVE,AMOUNT,LOCALAMOUNT,CURRENCYCODE,CURRENCYRATE,CURRENCYAMOUNT
0,321,320,1,----,----,----,711-000,Ng Kok Liang-SSM Registration & Documents Prin...,NaN,NaN,...,NaN,NaN,0.0,0.0,0,3209.00,3209.00,----,1.0,3209.00
1,323,322,1,----,----,----,719-000,Oliver Lee Fu Onn-Nov'13 Salary,NaN,NaN,...,NaN,NaN,0.0,0.0,0,2000.00,2000.00,----,1.0,2000.00
2,325,322,2,----,----,----,720-000,Oliver Lee Fu Onn-Nov'13 Allowance,NaN,NaN,...,NaN,NaN,0.0,0.0,0,1500.00,1500.00,----,1.0,1500.00
3,326,322,3,----,----,----,708-000,Oliver Lee Fu Onn-Nov'13 Salary,NaN,NaN,...,NaN,NaN,0.0,0.0,0,-220.00,-220.00,----,1.0,-220.00
4,327,322,4,----,----,----,721-000,Oliver Lee Fu Onn-Nov'13 Salary,NaN,NaN,...,NaN,NaN,0.0,0.0,0,-9.75,-9.75,----,1.0,-9.75

In [261]:
print(cash_book.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17806 entries, 0 to 17805
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   DOCKEY             17806 non-null  int64
 1   DOCNO              17806 non-null  object
 2   DOCTYPE            17806 non-null  object
 3   DOCDATE            17806 non-null  object
 4   POSTDATE           17806 non-null  object
 5   TAXDATE            17806 non-null  object
 6   DESCRIPTION        17806 non-null  object
 7   DESCRIPTION2       8175 non-null   object
 8   PAYMENTMETHOD      17806 non-null  object
 9   AREA               17806 non-null  object
 10  AGENT              17806 non-null  object
 11  PROJECT            17806 non-null  object
 12  JOURNAL            17806 non-null  object
 13  CHEQUENUMBER       14104 non-null  object
 14  CURRENCYCODE       17806 non-null  object
 15  CURRENCYRATE       17806 non-null  float64
 16  BANKCHARGE         17757 non-null  float64
 17  BANKCHARGEACCOUNT  781 non-null    object
 18  DOCAMT             17806 non-null  float64
 19  LOCALDOCAMT        17806 non-null  float64
 20  FROMDOCTYPE        6422 non-null   object
 21  BOUNCEDDATE        23 non-null     object
 22  GLTRANSID          17806 non-null  int64
 23  CANCELLED          17806 non-null  object
 24  DEPOSITKEY         0 non-null      float64
 25  UPDATECOUNT        4541 non-null   float64
 26  PRINTCOUNT         17806 non-null  int64
 27  ATTACHMENTS        0 non-null      float64
 28  NOTE               0 non-null      float64
dtypes: float64(8), int64(3), object(18)
memory usage: 3.9+ MB
None

In [262]:
print(cash_book_detail.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56566 entries, 0 to 56565
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DTLKEY          56566 non-null  int64
 1   DOCKEY          56566 non-null  int64
 2   SEQ             56566 non-null  int64
 3   AREA            56566 non-null  object
 4   AGENT           56566 non-null  object
 5   PROJECT         56566 non-null  object
 6   CODE            56566 non-null  object
 7   DESCRIPTION     56564 non-null  object
 8   GST_DOCDATE     27337 non-null  object
 9   GST_DOCNO       26807 non-null  object
 10  COMPANYNAME     27576 non-null  object
 11  REGISTERNO      0 non-null      float64
 12  GSTNO           5593 non-null   object
 13  PERMITNO        4 non-null      object
 14  COUNTRY         0 non-null      float64
 15  TAX             6747 non-null   object
 16  TARIFF          0 non-null      float64
 17  TAXRATE         5707 non-null   object
 18  TAXAMT          56566 non-null  float64
 19  LOCALTAXAMT     56566 non-null  float64
 20  TAXINCLUSIVE    56566 non-null  int64
 21  AMOUNT          56566 non-null  float64
 22  LOCALAMOUNT     56566 non-null  float64
 23  CURRENCYCODE    56566 non-null  object
 24  CURRENCYRATE    56566 non-null  float64
 25  CURRENCYAMOUNT  56566 non-null  float64
dtypes: float64(9), int64(4), object(13)
memory usage: 11.2+ MB
None

In [263]:
cash_book_column = cash_book.columns
print(cash_book_column)

Index(['DOCKEY', 'DOCNO', 'DOCTYPE', 'DOCDATE', 'POSTDATE', 'TAXDATE',
       'DESCRIPTION', 'DESCRIPTION2', 'PAYMENTMETHOD', 'AREA', 'AGENT',
       'PROJECT', 'JOURNAL', 'CHEQUENUMBER', 'CURRENCYCODE', 'CURRENCYRATE',
       'BANKCHARGE', 'BANKCHARGEACCOUNT', 'DOCAMT', 'LOCALDOCAMT',
       'FROMDOCTYPE', 'BOUNCEDDATE', 'GLTRANSID', 'CANCELLED', 'DEPOSITKEY',
       'UPDATECOUNT', 'PRINTCOUNT', 'ATTACHMENTS', 'NOTE'],
      dtype='object')

In [264]:
cash_book_detail_column = cash_book_detail.columns
print(cash_book_detail_column)

Index(['DTLKEY', 'DOCKEY', 'SEQ', 'AREA', 'AGENT', 'PROJECT', 'CODE',
       'DESCRIPTION', 'GST_DOCDATE', 'GST_DOCNO', 'COMPANYNAME', 'REGISTERNO',
       'GSTNO', 'PERMITNO', 'COUNTRY', 'TAX', 'TARIFF', 'TAXRATE', 'TAXAMT',
       'LOCALTAXAMT', 'TAXINCLUSIVE', 'AMOUNT', 'LOCALAMOUNT', 'CURRENCYCODE',
       'CURRENCYRATE', 'CURRENCYAMOUNT'],
      dtype='object')

In [265]:
print(cash_book.isnull().sum())

DOCKEY                   0
DOCNO                    0
DOCTYPE                  0
DOCDATE                  0
POSTDATE                 0
TAXDATE                  0
DESCRIPTION              0
DESCRIPTION2          9631
PAYMENTMETHOD            0
AREA                     0
AGENT                    0
PROJECT                  0
JOURNAL                  0
CHEQUENUMBER          3702
CURRENCYCODE             0
CURRENCYRATE             0
BANKCHARGE              49
BANKCHARGEACCOUNT    17025
DOCAMT                   0
LOCALDOCAMT              0
FROMDOCTYPE          11384
BOUNCEDDATE          17783
GLTRANSID                0
CANCELLED                0
DEPOSITKEY           17806
UPDATECOUNT          13265
PRINTCOUNT               0
ATTACHMENTS          17806
NOTE                 17806
dtype: int64

In [266]:
print(cash_book_detail.isnull().sum())

DTLKEY                0
DOCKEY                0
SEQ                   0
AREA                  0
AGENT                 0
PROJECT               0
CODE                  0
DESCRIPTION           2
GST_DOCDATE       29229
GST_DOCNO         29759
COMPANYNAME       28990
REGISTERNO        56566
GSTNO             50973
PERMITNO          56562
COUNTRY           56566
TAX               49819
TARIFF            56566
TAXRATE           50859
TAXAMT                0
LOCALTAXAMT           0
TAXINCLUSIVE          0
AMOUNT                0
LOCALAMOUNT           0
CURRENCYCODE          0
CURRENCYRATE          0
CURRENCYAMOUNT        0
dtype: int64

In [267]:
print(cash_book.nunique())

DOCKEY               17806
DOCNO                17806
DOCTYPE                  2
DOCDATE               1775
POSTDATE              1775
TAXDATE               1735
DESCRIPTION           1585
DESCRIPTION2          5956
PAYMENTMETHOD           28
AREA                    24
AGENT                    8
PROJECT                  1
JOURNAL                  2
CHEQUENUMBER          9902
CURRENCYCODE             3
CURRENCYRATE           548
BANKCHARGE             292
BANKCHARGEACCOUNT        1
DOCAMT                9012
LOCALDOCAMT           9355
FROMDOCTYPE              3
BOUNCEDDATE             23
GLTRANSID            17806
CANCELLED                2
DEPOSITKEY               0
UPDATECOUNT             14
PRINTCOUNT               3
ATTACHMENTS              0
NOTE                     0
dtype: int64

In [268]:
print(cash_book_detail.nunique())

DTLKEY            56566
DOCKEY            17795
SEQ                 211
AREA                 24
AGENT                 8
PROJECT               1
CODE               1158
DESCRIPTION       13465
GST_DOCDATE        1881
GST_DOCNO         26014
COMPANYNAME        4155
REGISTERNO            0
GSTNO               868
PERMITNO              1
COUNTRY               0
TAX                  13
TARIFF                0
TAXRATE               2
TAXAMT              977
LOCALTAXAMT         990
TAXINCLUSIVE          2
AMOUNT            14180
LOCALAMOUNT       14536
CURRENCYCODE          5
CURRENCYRATE        863
CURRENCYAMOUNT    14019
dtype: int64

In [269]:
# Drop unique column
cash_book = cash_book.drop(['DOCNO', 'CHEQUENUMBER','GLTRANSID','DEPOSITKEY','FROMDOCTYPE','BANKCHARGE','BANKCHARGEACCOUNT'], axis=1)
cash_book_detail = cash_book_detail.drop(['DTLKEY','TARIFF','GSTNO','PERMITNO','REGISTERNO'], axis=1)
# Drop unused column
cash_book = cash_book.drop(['POSTDATE','AREA','TAXDATE','UPDATECOUNT','CURRENCYCODE','CURRENCYRATE','AGENT','DOCAMT','LOCALDOCAMT','PROJECT','DESCRIPTION', 'DESCRIPTION2','PRINTCOUNT','ATTACHMENTS','NOTE','BOUNCEDDATE'], axis=1)
cash_book_detail = cash_book_detail.drop(['AREA','PROJECT','COMPANYNAME','SEQ','CURRENCYCODE','CURRENCYRATE','AMOUNT','LOCALAMOUNT','COUNTRY','GST_DOCDATE','GST_DOCNO','TAXRATE','TAXAMT','LOCALTAXAMT', 'TAXINCLUSIVE','AGENT'], axis=1)

In [270]:
# Merge the DataFrames based on the common key
merged_cash_book = pd.merge(cash_book, cash_book_detail, on='DOCKEY')

In [271]:
merged_cash_book = merged_cash_book.drop('TAX', axis = 1)
merged_cash_book = merged_cash_book.drop('DOCKEY', axis = 1)

In [272]:
merged_cash_book.columns

Index(['DOCTYPE', 'DOCDATE', 'PAYMENTMETHOD', 'JOURNAL', 'CANCELLED', 'CODE',
       'DESCRIPTION', 'CURRENCYAMOUNT'],
      dtype='object')

In [274]:
merged_cash_book.head()

,DOCTYPE,DOCDATE,PAYMENTMETHOD,JOURNAL,CANCELLED,CODE,DESCRIPTION,CURRENCYAMOUNT
0,PV,2013-11-30,301-001,BANK,F,711-000,Ng Kok Liang-SSM Registration & Documents Prin...,3209.00
1,PV,2013-11-20,301-001,BANK,F,719-000,Oliver Lee Fu Onn-Nov'13 Salary,2000.00
2,PV,2013-11-20,301-001,BANK,F,720-000,Oliver Lee Fu Onn-Nov'13 Allowance,1500.00
3,PV,2013-11-20,301-001,BANK,F,708-000,Oliver Lee Fu Onn-Nov'13 Salary,-220.00
4,PV,2013-11-20,301-001,BANK,F,721-000,Oliver Lee Fu Onn-Nov'13 Salary,-9.75

In [278]:
print(merged_cash_book.isnull().sum())

DOCTYPE           0
DOCDATE           0
PAYMENTMETHOD     0
JOURNAL           0
CANCELLED         0
CODE              0
DESCRIPTION       2
CURRENCYAMOUNT    0
dtype: int64

In [277]:
# Tokenization and TF-IDF Vectorization
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(merged_cash_book['DESCRIPTION'])

# Incorporate the TF-IDF features into your dataset
df_tfidf = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())
merged_cash_book = pd.concat([merged_cash_book, df_tfidf], axis=1)

ValueError: np.nan is an invalid document, expected byte or unicode string.

In [280]:
rows_with_null = merged_cash_book[merged_cash_book.isnull().any(axis=1)]
print(rows_with_null)

      DOCTYPE     DOCDATE PAYMENTMETHOD JOURNAL CANCELLED     CODE  \
32384      PV  2020-05-31       303-180    CASH         F  766-000
48520      PV  2021-08-31       303-010    CASH         F  731-000

      DESCRIPTION  CURRENCYAMOUNT
32384         NaN           78.15
48520         NaN            7.00

In [183]:
print(merged_cash_book['CANCELLED'].unique())

['F' 'T']

In [184]:
# Drop rows where the entry is being cancelled
merged_cash_book = merged_cash_book[merged_cash_book['CANCELLED'] != 'T']

In [185]:
merged_cash_book = merged_cash_book.drop('CANCELLED', axis=1)

In [186]:
merged_cash_book['DOCDATE'] = pd.to_datetime(merged_cash_book['DOCDATE']).astype('int64') // 10**9

In [187]:
merged_cash_book.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56529 entries, 0 to 56565
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DOCTYPE         56529 non-null  object
 1   DOCDATE         56529 non-null  int64
 2   PAYMENTMETHOD   56529 non-null  object
 3   JOURNAL         56529 non-null  object
 4   CODE            56529 non-null  object
 5   CURRENCYAMOUNT  56529 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 3.0+ MB

In [188]:
merged_cash_book.isna().sum()

DOCTYPE           0
DOCDATE           0
PAYMENTMETHOD     0
JOURNAL           0
CODE              0
CURRENCYAMOUNT    0
dtype: int64

In [189]:
type_encoder = OneHotEncoder()
# enc_data = pd.DataFrame(enc.fit_transform( 
#     data[['Gen_new', 'Rem_new']]).toarray()) 
encoded_DOCTYPE = type_encoder.fit_transform(merged_cash_book[['DOCTYPE']]).toarray()
DOCTYPE_names = type_encoder.get_feature_names_out(['DOCTYPE'])
encoded_DOCTYPE = pd.DataFrame(encoded_DOCTYPE, columns=DOCTYPE_names)

pm_encoder = OneHotEncoder()
# enc_data = pd.DataFrame(enc.fit_transform( 
#     data[['Gen_new', 'Rem_new']]).toarray())
encoded_PM = pm_encoder.fit_transform(merged_cash_book[['PAYMENTMETHOD']]).toarray()
PM_names = pm_encoder.get_feature_names_out(['PAYMENTMETHOD'])
encoded_PM = pd.DataFrame(encoded_PM, columns=PM_names)

journal_encoder = OneHotEncoder()
# enc_data = pd.DataFrame(enc.fit_transform( 
#     data[['Gen_new', 'Rem_new']]).toarray()) 
encoded_journal = journal_encoder.fit_transform(merged_cash_book[['JOURNAL']]).toarray()
journal_names = journal_encoder.get_feature_names_out(['JOURNAL'])
encoded_journal = pd.DataFrame(encoded_journal, columns=journal_names)

code_encoder = OneHotEncoder()
# enc_data = pd.DataFrame(enc.fit_transform( 
#     data[['Gen_new', 'Rem_new']]).toarray()) 
encoded_Code = code_encoder.fit_transform(merged_cash_book[['CODE']]).toarray()
Code_names = code_encoder.get_feature_names_out(['CODE'])
encoded_Code = pd.DataFrame(encoded_Code, columns=Code_names)

In [190]:
encoded_Code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56529 entries, 0 to 56528
Columns: 1158 entries, CODE_100-000 to CODE_GST-KASTAM
dtypes: float64(1158)
memory usage: 499.4 MB

In [191]:
merged_cash_book.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56529 entries, 0 to 56565
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DOCTYPE         56529 non-null  object
 1   DOCDATE         56529 non-null  int64
 2   PAYMENTMETHOD   56529 non-null  object
 3   JOURNAL         56529 non-null  object
 4   CODE            56529 non-null  object
 5   CURRENCYAMOUNT  56529 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 3.0+ MB

In [192]:
merged_cash_book

      DOCTYPE     DOCDATE PAYMENTMETHOD JOURNAL       CODE  CURRENCYAMOUNT
0          PV  1385769600       301-001    BANK    711-000         3209.00
1          PV  1384905600       301-001    BANK    719-000         2000.00
2          PV  1384905600       301-001    BANK    720-000         1500.00
3          PV  1384905600       301-001    BANK    708-000         -220.00
4          PV  1384905600       301-001    BANK    721-000           -9.75
...       ...         ...           ...     ...        ...             ...
56561      OR  1653350400       301-003    BANK  300-S0029         6597.50
56562      OR  1653523200       301-003    BANK  300-P0022          295.00
56563      OR  1653609600       301-003    BANK  300-F0005         1060.00
56564      OR  1653609600       301-003    BANK  300-A0010         2250.00
56565      OR  1653609600       301-003    BANK  300-O0005        14550.72

[56529 rows x 6 columns]

In [193]:
merged_cash_book['DOCDATE'] = pd.to_datetime(merged_cash_book['DOCDATE'], unit='ms')

# Extract year, month, day, and hour
merged_cash_book['year'] = merged_cash_book['DOCDATE'].dt.year.astype(int)
merged_cash_book['month'] = merged_cash_book['DOCDATE'].dt.month.astype(int)
merged_cash_book['day'] = merged_cash_book['DOCDATE'].dt.day.astype(int)

merged_cash_book = merged_cash_book.drop('DOCDATE', axis=1)

In [194]:
from sklearn.preprocessing import MinMaxScaler

currency_scaler = MinMaxScaler()
merged_cash_book['CURRENCYAMOUNT'] = currency_scaler.fit_transform(merged_cash_book['CURRENCYAMOUNT'].values.reshape(-1, 1))

In [195]:
merged_cash_book.isna().sum()

DOCTYPE           0
PAYMENTMETHOD     0
JOURNAL           0
CODE              0
CURRENCYAMOUNT    0
year              0
month             0
day               0
dtype: int64

In [196]:
merged_cash_book = merged_cash_book.drop(['DOCTYPE', 'PAYMENTMETHOD','JOURNAL','CODE'], axis = 1)
merged_cash_book.reset_index(drop=True, inplace=True)
encoded_DOCTYPE.reset_index(drop=True, inplace=True)
encoded_PM.reset_index(drop=True, inplace=True)
encoded_journal.reset_index(drop=True, inplace=True)
encoded_Code.reset_index(drop=True, inplace=True)
merged_cash_book_encoded = pd.concat([merged_cash_book, encoded_DOCTYPE, encoded_PM, encoded_journal, encoded_Code], axis=1)

In [197]:
merged_cash_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56529 entries, 0 to 56528
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CURRENCYAMOUNT  56529 non-null  float64
 1   year            56529 non-null  int32
 2   month           56529 non-null  int32
 3   day             56529 non-null  int32
dtypes: float64(1), int32(3)
memory usage: 1.1 MB

In [198]:
merged_cash_book_encoded.isna().sum()

CURRENCYAMOUNT     0
year               0
month              0
day                0
DOCTYPE_OR         0
                  ..
CODE_804-000       0
CODE_950-000       0
CODE_960-000       0
CODE_GST-101       0
CODE_GST-KASTAM    0
Length: 1194, dtype: int64

In [199]:
merged_cash_book_encoded.columns

Index(['CURRENCYAMOUNT', 'year', 'month', 'day', 'DOCTYPE_OR', 'DOCTYPE_PV',
       'PAYMENTMETHOD_301-001', 'PAYMENTMETHOD_301-002',
       'PAYMENTMETHOD_301-003', 'PAYMENTMETHOD_301-004',
       ...
       'CODE_795-000', 'CODE_796-000', 'CODE_799-000', 'CODE_801-000',
       'CODE_802-000', 'CODE_804-000', 'CODE_950-000', 'CODE_960-000',
       'CODE_GST-101', 'CODE_GST-KASTAM'],
      dtype='object', length=1194)

In [200]:
merged_cash_book_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56529 entries, 0 to 56528
Columns: 1194 entries, CURRENCYAMOUNT to CODE_GST-KASTAM
dtypes: float64(1191), int32(3)
memory usage: 514.3 MB

In [201]:
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(merged_cash_book_encoded, test_size=0.2, random_state=42)

In [202]:
# Specify the path where you want to save the CSV file
csv_file_path = 'data.csv'

# Export the DataFrame to a CSV file
merged_cash_book_encoded.to_csv(csv_file_path, index=False)

In [203]:
X_train.to_csv(csv_file_path, index=False)

In [204]:
from sklearn.neighbors import LocalOutlierFactor
lof = LocalOutlierFactor(novelty=True)
lof.fit(X_train)

LocalOutlierFactor(novelty=True)

In [205]:
y_pred_test = lof.predict(X_test)

C:\Users\Dan\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LocalOutlierFactor was fitted with feature names
  warnings.warn(

In [206]:
anomaly_scores_test = lof.decision_function(X_test)

C:\Users\Dan\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LocalOutlierFactor was fitted with feature names
  warnings.warn(

In [207]:
print(anomaly_scores_test)

[-5.35308902e+03  5.12539178e-01  5.00921498e-01 ... -3.65066918e+03
  5.00000000e-01  3.15012303e-01]

In [208]:
print(X_test)

       CURRENCYAMOUNT  year  month  day  DOCTYPE_OR  DOCTYPE_PV  \
53937        0.008531  1970      1   20         0.0         1.0
32008        0.012259  1970      1   19         0.0         1.0
26136        0.006283  1970      1   19         0.0         1.0
16404        0.006273  1970      1   18         0.0         1.0
26703        0.006405  1970      1   19         0.0         1.0
...               ...   ...    ...  ...         ...         ...
55628        0.006279  1970      1   20         0.0         1.0
47228        0.006279  1970      1   19         0.0         1.0
54931        0.006584  1970      1   20         0.0         1.0
40594        0.006348  1970      1   19         0.0         1.0
13141        0.006273  1970      1   18         0.0         1.0

       PAYMENTMETHOD_301-001  PAYMENTMETHOD_301-002  PAYMENTMETHOD_301-003  \
53937                    0.0                    0.0                    1.0
32008                    0.0                    0.0                    1.0
26136                    0.0                    0.0                    1.0
16404                    0.0                    0.0                    1.0
26703                    0.0                    0.0                    0.0
...                      ...                    ...                    ...
55628                    0.0                    0.0                    0.0
47228                    0.0                    0.0                    1.0
54931                    0.0                    0.0                    0.0
40594                    0.0                    0.0                    0.0
13141                    0.0                    0.0                    1.0

       PAYMENTMETHOD_301-004  ...  CODE_795-000  CODE_796-000  CODE_799-000  \
53937                    0.0  ...           0.0           0.0           0.0
32008                    0.0  ...           0.0           0.0           0.0
26136                    0.0  ...           0.0           0.0           0.0
16404                    0.0  ...           0.0           0.0           0.0
26703                    0.0  ...           0.0           0.0           0.0
...                      ...  ...           ...           ...           ...
55628                    0.0  ...           0.0           0.0           0.0
47228                    0.0  ...           0.0           0.0           0.0
54931                    0.0  ...           0.0           0.0           0.0
40594                    0.0  ...           0.0           0.0           0.0
13141                    0.0  ...           0.0           0.0           0.0

       CODE_801-000  CODE_802-000  CODE_804-000  CODE_950-000  CODE_960-000  \
53937           0.0           0.0           0.0           0.0           0.0
32008           0.0           0.0           0.0           0.0           0.0
26136           0.0           0.0           0.0           0.0           0.0
16404           0.0           0.0           0.0           0.0           0.0
26703           0.0           0.0           0.0           0.0           0.0
...             ...           ...           ...           ...           ...
55628           0.0           0.0           0.0           0.0           0.0
47228           0.0           0.0           0.0           0.0           0.0
54931           0.0           0.0           0.0           0.0           0.0
40594           0.0           0.0           0.0           0.0           0.0
13141           0.0           0.0           0.0           0.0           0.0

       CODE_GST-101  CODE_GST-KASTAM
53937           0.0              0.0
32008           0.0              0.0
26136           0.0              0.0
16404           0.0              0.0
26703           0.0              0.0
...             ...              ...
55628           0.0              0.0
47228           0.0              0.0
54931           0.0              0.0
40594           0.0              0.0
13141           0.0              0.0

[11306 rows x 1194 columns]

In [752]:
plt.scatter(X_test[:, 0], X_test[:, 1], c=anomaly_scores_test, cmap='viridis', s=50, edgecolors='k')
plt.colorbar(label='Anomaly Score')
plt.title('LOF Anomaly Scores - Test Data')
plt.xlabel('Feature 1')
plt.ylabel('Feature 2')
plt.show()

InvalidIndexError: (slice(None, None, None), 0)

In [75]:
# Get unique values and their counts
unique_values, counts = np.unique(y_pred_test, return_counts=True)

# Print unique values and their counts
for value, count in zip(unique_values, counts):
    print(f"Value: {value}, Count: {count}")

Value: -1, Count: 1245
Value: 1, Count: 10061

In [76]:
# clf = LocalOutlierFactor(contamination=0.1)
# y_pred = clf.fit_predict(merged_cash_book_encoded)

# # Plot the results
# plt.scatter(merged_cash_book_encoded[:, 0], merged_cash_book_encoded[:, 1], color='k', s=3, label='Data points')
# plt.scatter(merged_cash_book_encoded[y_pred == -1, 0], merged_cash_book_encoded[y_pred == -1, 1], color='r', s=30, marker='x', label='Outliers')
# plt.title("Local Outlier Factor (LOF)")
# plt.legend()
# plt.show()

In [77]:
# import numpy as np

# # Get unique values and their counts
# unique_values, counts = np.unique(y_pred, return_counts=True)

# # Print unique values and their counts
# for value, count in zip(unique_values, counts):
#     print(f"Value: {value}, Count: {count}")

In [242]:
import tkinter as tk
from tkinter import simpledialog

import tkinter as tk
import pandas as pd

# Global DataFrame variable
user_data_df = pd.DataFrame(columns=["DOCTYPE", "CURRENCYAMOUNT","year", "month", "day","PAYMENTMETHOD", "JOURNAL", "CODE" ])

def get_user_input():
    global user_data_df  # Declare the global variable

    # Retrieve user inputs
    doctype = doctype_entry.get()
    docyear = docyear_entry.get()
    docmonth = docmonth_entry.get()
    docday = docday_entry.get()
    payment_method = payment_method_entry.get()
    journal = journal_entry.get()
    code = code_entry.get()
    currency_amount = currency_amount_entry.get()

    # Append user inputs to the global DataFrame
    user_data_df.loc[len(user_data_df.index)] = [doctype, currency_amount, docyear, docmonth, docday, payment_method, journal, code] 
#     user_data_df.extend({
#         "DOCTYPE": doctype,
#         "DOCDATE": docdate,
#         "PAYMENTMETHOD": payment_method,
#         "JOURNAL": journal,
#         "CODE": code,
#         "CURRENCYAMOUNT": currency_amount,
#     }, ignore_index=True)

#     # Display the updated DataFrame
    print("User Inputs DataFrame:")
    print(user_data_df)



# Create the main Tkinter window
root = tk.Tk()
root.title("User Input Form")

# Create a frame to contain the input fields
input_frame = tk.Frame(root)
input_frame.pack(padx=20, pady=20)

# Create and place Entry widgets for user input
tk.Label(input_frame, text="DOCTYPE:").grid(row=0, column=0, padx=10, pady=5)
doctype_entry = tk.Entry(input_frame)
doctype_entry.grid(row=0, column=1, padx=10, pady=5)

tk.Label(input_frame, text="DOCYEAR:").grid(row=1, column=0, padx=10, pady=5)
docyear_entry = tk.Entry(input_frame)
docyear_entry.grid(row=1, column=1, padx=10, pady=5)

tk.Label(input_frame, text="DOCMONTH:").grid(row=2, column=0, padx=10, pady=5)
docmonth_entry = tk.Entry(input_frame)
docmonth_entry.grid(row=2, column=1, padx=10, pady=5)

tk.Label(input_frame, text="DOCDAY:").grid(row=3, column=0, padx=10, pady=5)
docday_entry = tk.Entry(input_frame)
docday_entry.grid(row=3, column=1, padx=10, pady=5)

tk.Label(input_frame, text="PAYMENTMETHOD:").grid(row=4, column=0, padx=10, pady=5)
payment_method_entry = tk.Entry(input_frame)
payment_method_entry.grid(row=4, column=1, padx=10, pady=5)

tk.Label(input_frame, text="JOURNAL:").grid(row=5, column=0, padx=10, pady=5)
journal_entry = tk.Entry(input_frame)
journal_entry.grid(row=5, column=1, padx=10, pady=5)

tk.Label(input_frame, text="CODE:").grid(row=6, column=0, padx=10, pady=5)
code_entry = tk.Entry(input_frame)
code_entry.grid(row=6, column=1, padx=10, pady=5)

tk.Label(input_frame, text="CURRENCYAMOUNT:").grid(row=7, column=0, padx=10, pady=5)
currency_amount_entry = tk.Entry(input_frame)
currency_amount_entry.grid(row=7, column=1, padx=10, pady=5)

# Create a button to trigger the user input retrieval
submit_button = tk.Button(root, text="Submit", command=get_user_input)
submit_button.pack(pady=10)

# Run the Tkinter event loop
root.mainloop()

User Inputs DataFrame:
  DOCTYPE CURRENCYAMOUNT  year month day PAYMENTMETHOD JOURNAL     CODE
0      PV            100  1970     1  19       301-003    BANK  719-189
User Inputs DataFrame:
  DOCTYPE CURRENCYAMOUNT  year month day PAYMENTMETHOD JOURNAL     CODE
0      PV            100  1970     1  19       301-003    BANK  719-189
1      PV           1800  1970     1  19       301-003    BANK  719-189
User Inputs DataFrame:
  DOCTYPE CURRENCYAMOUNT  year month day PAYMENTMETHOD JOURNAL     CODE
0      PV            100  1970     1  19       301-003    BANK  719-189
1      PV           1800  1970     1  19       301-003    BANK  719-189
2      PV             20  1970     1  19       301-003    BANK  719-189
User Inputs DataFrame:
  DOCTYPE CURRENCYAMOUNT  year month day PAYMENTMETHOD JOURNAL     CODE
0      PV            100  1970     1  19       301-003    BANK  719-189
1      PV           1800  1970     1  19       301-003    BANK  719-189
2      PV             20  1970     1  19       301-003    BANK  719-189
3      PV            350  1970     1  19       301-003    BANK  719-189
User Inputs DataFrame:
  DOCTYPE CURRENCYAMOUNT  year month day PAYMENTMETHOD JOURNAL     CODE
0      PV            100  1970     1  19       301-003    BANK  719-189
1      PV           1800  1970     1  19       301-003    BANK  719-189
2      PV             20  1970     1  19       301-003    BANK  719-189
3      PV            350  1970     1  19       301-003    BANK  719-189
4      PV           2500  1970     1  19       301-003    BANK  719-189
User Inputs DataFrame:
  DOCTYPE CURRENCYAMOUNT  year month day PAYMENTMETHOD JOURNAL     CODE
0      PV            100  1970     1  19       301-003    BANK  719-189
1      PV           1800  1970     1  19       301-003    BANK  719-189
2      PV             20  1970     1  19       301-003    BANK  719-189
3      PV            350  1970     1  19       301-003    BANK  719-189
4      PV           2500  1970     1  19       301-003    BANK  719-189
5      PV           2200  1970     1  19       301-003    BANK  719-189
User Inputs DataFrame:
  DOCTYPE CURRENCYAMOUNT  year month day PAYMENTMETHOD JOURNAL     CODE
0      PV            100  1970     1  19       301-003    BANK  719-189
1      PV           1800  1970     1  19       301-003    BANK  719-189
2      PV             20  1970     1  19       301-003    BANK  719-189
3      PV            350  1970     1  19       301-003    BANK  719-189
4      PV           2500  1970     1  19       301-003    BANK  719-189
5      PV           2200  1970     1  19       301-003    BANK  719-189
6      PV             13  1970     1  19       301-003    BANK  719-189

In [243]:
user_data_df

  DOCTYPE CURRENCYAMOUNT  year month day PAYMENTMETHOD JOURNAL     CODE
0      PV            100  1970     1  19       301-003    BANK  719-189
1      PV           1800  1970     1  19       301-003    BANK  719-189
2      PV             20  1970     1  19       301-003    BANK  719-189
3      PV            350  1970     1  19       301-003    BANK  719-189
4      PV           2500  1970     1  19       301-003    BANK  719-189
5      PV           2200  1970     1  19       301-003    BANK  719-189
6      PV             13  1970     1  19       301-003    BANK  719-189

In [244]:
[[user_data_df['CURRENCYAMOUNT'][0]]]

[['100']]

In [245]:
[[user_data_df['PAYMENTMETHOD'][0]]]

[['301-003']]

In [237]:
user_data_df = user_data_df.drop(1, axis=0).reset_index(drop=True)

In [246]:
user_data_df['CURRENCYAMOUNT'] = currency_scaler.transform(user_data_df['CURRENCYAMOUNT'].values.reshape(-1, 1))
encoded_DOCTYPE_new = pd.DataFrame(type_encoder.transform(user_data_df[['DOCTYPE']]).toarray(), columns=DOCTYPE_names)
encoded_PAYMENTMETHOD_new = pd.DataFrame(pm_encoder.transform(user_data_df[['PAYMENTMETHOD']]).toarray(), columns=PM_names)
encoded_JOURNAL_new = pd.DataFrame(journal_encoder.transform(user_data_df[['JOURNAL']]).toarray(), columns=journal_names)
encoded_CODE_new = pd.DataFrame(code_encoder.transform(user_data_df[['CODE']]).toarray(), columns=Code_names)
user_data_df = user_data_df.drop(['DOCTYPE', 'PAYMENTMETHOD','JOURNAL','CODE'], axis = 1)
# user_data_df.reset_index(drop=True, inplace=True)
# encoded_DOCTYPE_new.reset_index(drop=True, inplace=True)
# encoded_PAYMENTMETHOD_new.reset_index(drop=True, inplace=True)
# encoded_JOURNAL_new.reset_index(drop=True, inplace=True)
# encoded_CODE_new.reset_index(drop=True, inplace=True)
user_data_df_encoded = pd.concat([user_data_df, encoded_DOCTYPE_new, encoded_PAYMENTMETHOD_new, encoded_JOURNAL_new, encoded_CODE_new], axis=1)

In [247]:
user_data_df_encoded

,CURRENCYAMOUNT,year,month,day,DOCTYPE_OR,DOCTYPE_PV,PAYMENTMETHOD_301-001,PAYMENTMETHOD_301-002,PAYMENTMETHOD_301-003,PAYMENTMETHOD_301-004,...,CODE_795-000,CODE_796-000,CODE_799-000,CODE_801-000,CODE_802-000,CODE_804-000,CODE_950-000,CODE_960-000,CODE_GST-101,CODE_GST-KASTAM
0,0.006375,1970,1,19,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.008152,1970,1,19,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.006292,1970,1,19,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.006637,1970,1,19,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.008884,1970,1,19,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.008570,1970,1,19,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.006284,1970,1,19,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [248]:
y_pred_new = lof.predict(user_data_df_encoded)

C:\Users\Dan\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LocalOutlierFactor was fitted with feature names
  warnings.warn(

In [249]:
print(y_pred_new)

[ 1 -1  1 -1 -1 -1  1]