In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [2]:
cash_book_path = 'C:\\Users\\SQL\\Documents\\BOKOPT_GL_CB_202311291624.csv'
cash_book = pd.read_csv(cash_book_path)
cash_book

,DOCKEY,DOCNO,DOCTYPE,DOCDATE,POSTDATE,TAXDATE,DESCRIPTION,DESCRIPTION2,PAYMENTMETHOD,AREA,...,LOCALDOCAMT,FROMDOCTYPE,BOUNCEDDATE,GLTRANSID,CANCELLED,DEPOSITKEY,UPDATECOUNT,PRINTCOUNT,ATTACHMENTS,NOTE
0,320,PV-1311/001,PV,2013-11-30,2013-11-30,2013-11-30,NG KOK LIANG,Payment For SSM Registration and Printing,301-001,----,...,3209.00,NaN,NaN,167,F,NaN,NaN,0,NaN,NaN
1,322,PV-1311/002,PV,2013-11-20,2013-11-20,2013-11-20,OLIVER LEE FU ONN,Payment For Nov'13 Staff Salary,301-001,----,...,3270.25,NaN,NaN,168,F,NaN,NaN,0,NaN,NaN
2,328,PV-1311/003,PV,2013-11-30,2013-11-30,2013-11-30,KUMPULAN WANG SIMPANAN PEKERJA,Payment For Nov'13 Staff EPF Contribution,301-001,----,...,480.00,NaN,NaN,169,F,NaN,NaN,0,NaN,NaN
3,330,PV-1311/004,PV,2013-11-30,2013-11-30,2013-11-30,PERTUBUHAN KESELAMATAN SOSIAL,Payment For Nov'13 Staff Socso,301-001,----,...,43.90,NaN,NaN,170,F,NaN,NaN,0,NaN,NaN
4,332,PV-1312/001,PV,2013-12-31,2013-12-31,2013-12-31,KUMPULAN WANG SIMPANAN PEKERJA,Payment For Dec'13 Staff EPF Contribution,301-001,----,...,480.00,NaN,NaN,171,F,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17801,78807,OR 220524,OR,2022-05-24,2022-05-24,2022-05-24,SHENZHEN STS MICROELECTRONICS CO LTD,Payment For Invoice - IN2201-021,301-003,CN,...,28277.80,PM,NaN,39129,F,NaN,NaN,0,NaN,NaN
17802,78809,OR 220525,OR,2022-05-26,2022-05-26,2022-05-26,PALMTOP VEGEOIL PRODUCTS SDN BHD,Payment For Invoice - IN2204-037,301-003,JB,...,295.00,PM,NaN,39167,F,NaN,NaN,0,NaN,NaN
17803,78811,OR 220526,OR,2022-05-27,2022-05-27,2022-05-27,FGV JOHOR BULKERS SDN BHD,Payment For Invoice - IN2204-124,301-003,JB,...,1060.00,PM,NaN,39196,F,NaN,NaN,0,NaN,NaN
17804,78813,OR 220527,OR,2022-05-27,2022-05-27,2022-05-27,ANALOG DEVICES SDN.BHD,Payment For Invoice - IN2204-052,301-003,----,...,2250.00,PM,NaN,39197,F,NaN,NaN,0,NaN,NaN
17805,78815,OR 220528,OR,2022-05-27,2022-05-27,2022-05-27,ON SEMICONDUCTOR MALAYSIA SDN.BHD,"Payment For Invoice - IN2203-008, IN2203-009, ...",301-003,SEREMBAN,...,14550.72,PM,NaN,39198,F,NaN,NaN,0,NaN,NaN

In [3]:
cash_book_column = cash_book.columns
print(cash_book_column)

Index(['DOCKEY', 'DOCNO', 'DOCTYPE', 'DOCDATE', 'POSTDATE', 'TAXDATE',
       'DESCRIPTION', 'DESCRIPTION2', 'PAYMENTMETHOD', 'AREA', 'AGENT',
       'PROJECT', 'JOURNAL', 'CHEQUENUMBER', 'CURRENCYCODE', 'CURRENCYRATE',
       'BANKCHARGE', 'BANKCHARGEACCOUNT', 'DOCAMT', 'LOCALDOCAMT',
       'FROMDOCTYPE', 'BOUNCEDDATE', 'GLTRANSID', 'CANCELLED', 'DEPOSITKEY',
       'UPDATECOUNT', 'PRINTCOUNT', 'ATTACHMENTS', 'NOTE'],
      dtype='object')

In [4]:
cash_book = cash_book.drop(['DOCNO', 'DOCDATE', 'DOCTYPE', 'POSTDATE', 'TAXDATE', 'DESCRIPTION', 'DESCRIPTION2', 'AREA', 'AGENT', 'PROJECT', 'CURRENCYCODE', 'CURRENCYRATE', 'DOCAMT', 'FROMDOCTYPE', 'BOUNCEDDATE', 'GLTRANSID', 'CANCELLED', 'DEPOSITKEY', 'UPDATECOUNT', 'PRINTCOUNT', 'ATTACHMENTS', 'NOTE'], axis=1)
cash_book

,DOCKEY,PAYMENTMETHOD,JOURNAL,CHEQUENUMBER,BANKCHARGE,BANKCHARGEACCOUNT,LOCALDOCAMT
0,320,301-001,BANK,PBB777376,0.00,NaN,3209.00
1,322,301-001,BANK,PBB777377,0.00,NaN,3270.25
2,328,301-001,BANK,PBB777378,0.00,NaN,480.00
3,330,301-001,BANK,PBB777379,0.00,NaN,43.90
4,332,301-001,BANK,PBB777381,0.00,NaN,480.00
...,...,...,...,...,...,...,...
17801,78807,301-003,BANK,6181852140FS,128.58,703-000,28277.80
17802,78809,301-003,BANK,IBG ONLINE,0.00,NaN,295.00
17803,78811,301-003,BANK,2100001600,0.00,NaN,1060.00
17804,78813,301-003,BANK,CIMB 202205260129897257,0.00,NaN,2250.00
17805,78815,301-003,BANK,5535038775,0.00,NaN,14550.72

In [5]:
# Drop rows with missing values in the target variable
cash_book = cash_book.dropna(subset=['BANKCHARGE'])
cash_book = cash_book.dropna(subset=['BANKCHARGEACCOUNT'])
cash_book

,DOCKEY,PAYMENTMETHOD,JOURNAL,CHEQUENUMBER,BANKCHARGE,BANKCHARGEACCOUNT,LOCALDOCAMT
31,392,301-001,BANK,IMEP-465778,1.00,703-000,5350.00
32,394,301-001,BANK,PBB446952,2.00,703-000,5500.00
33,396,301-001,BANK,PBB446953,2.00,703-000,10000.00
34,398,301-001,BANK,PBB446954,2.00,703-000,10000.00
35,400,301-001,BANK,PBB446956,2.00,703-000,4900.00
...,...,...,...,...,...,...,...
17637,78016,301-007,BANK,YOR204120647,29.00,703-000,86784.99
17658,78089,301-007,BANK,YIR205130185,29.00,703-000,9669.00
17678,78129,301-007,BANK,YOR204200520,10.94,703-000,21450.00
17731,78342,301-007,BANK,YOR204291542,28.83,703-000,48764.64
17801,78807,301-003,BANK,6181852140FS,128.58,703-000,28277.80

In [6]:
label_encoder = LabelEncoder()
cash_book['PAYMENTMETHOD'] = label_encoder.fit_transform(cash_book['PAYMENTMETHOD'])

In [7]:
# Select relevant features and target variable
features = cash_book[['PAYMENTMETHOD', 'LOCALDOCAMT']]
target = cash_book['BANKCHARGE']

In [8]:
# Convert categorical features to numerical using one-hot encoding
features = pd.get_dummies(features, columns=['PAYMENTMETHOD'], drop_first=True)

In [9]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.1, random_state=10)

In [10]:
# Initialize and train the RandomForestRegressor
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [11]:
# Make predictions on the test set
predictions = model.predict(X_test)

In [12]:
# Evaluate the model
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, predictions)

In [13]:
print(f'Mean Squared Error (MSE): {mse}')
print(f'Root Mean Squared Error (RMSE): {rmse}')
print(f'R-squared (R2): {r2}')

Mean Squared Error (MSE): 1247.7195565577408
Root Mean Squared Error (RMSE): 35.323073996436676
R-squared (R2): 0.1989746111181293

In [14]:
# Now you can use the trained model to make predictions for new data
new_data = pd.DataFrame({'PAYMENTMETHOD': [301-100],
                         'LOCALDOCAMT': [5350.0]})
new_data = pd.get_dummies(new_data, columns=['PAYMENTMETHOD'], drop_first=True)

# Ensure new_data has all the necessary columns with zero values
missing_columns = set(X_train.columns) - set(new_data.columns)
for col in missing_columns:
    new_data[col] = 0

# Reorder columns to match the order during training
new_data = new_data[X_train.columns]

prediction_new_data = model.predict(new_data)

print(f'Predicted BANKCHARGE for new data: {prediction_new_data[0]}')

Predicted BANKCHARGE for new data: 0.8481700000000002