In [21]:
import pandas as pd
import fdb
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [2]:
#cash_book_path = 'C:/Users/SQL/Documents/VPN_GL_CB_202312121515.csv'
#cash_book = pd.read_csv(cash_book_path)
#cash_book

In [3]:
#cash_book_detail_path ='C:/Users/SQL/Documents/VPN_GL_CBDTL_202312121515.csv'
#cash_book_detail = pd.read_csv(cash_book_detail_path)
#cash_book_detail

In [4]:
hostname = "localhost"
database_path = "C:/eStream/SQLAccounting/DB/BOK OPT SDN BHD.FDB"
username = "SYSDBA"
password = "masterkey"

In [5]:
# Create a connection
connection = fdb.connect(
    host=hostname,
    database=database_path,
    user=username,
    password=password,
)

In [6]:
# Create a Cursor object that operates in the context of Connection con:
cur = connection.cursor()

# Execute the SELECT statement:
cur.execute("select * from GL_CB")

# Fetch all records
records = cur.fetchall()

column_names = [desc[0] for desc in cur.description]

# Close the cursor and connection
cur.close()

cash_book = pd.DataFrame(records, columns=column_names)
cash_book

,DOCKEY,DOCNO,DOCTYPE,DOCDATE,POSTDATE,TAXDATE,DESCRIPTION,DESCRIPTION2,PAYMENTMETHOD,AREA,...,LOCALDOCAMT,FROMDOCTYPE,BOUNCEDDATE,GLTRANSID,CANCELLED,DEPOSITKEY,UPDATECOUNT,PRINTCOUNT,ATTACHMENTS,NOTE
0,320,PV-1311/001,PV,2013-11-30,2013-11-30,2013-11-30,NG KOK LIANG,Payment For SSM Registration and Printing,301-001,----,...,3209,None,None,167,F,None,NaN,0,None,None
1,322,PV-1311/002,PV,2013-11-20,2013-11-20,2013-11-20,OLIVER LEE FU ONN,Payment For Nov'13 Staff Salary,301-001,----,...,3270.25,None,None,168,F,None,NaN,0,None,None
2,328,PV-1311/003,PV,2013-11-30,2013-11-30,2013-11-30,KUMPULAN WANG SIMPANAN PEKERJA,Payment For Nov'13 Staff EPF Contribution,301-001,----,...,480,None,None,169,F,None,NaN,0,None,None
3,330,PV-1311/004,PV,2013-11-30,2013-11-30,2013-11-30,PERTUBUHAN KESELAMATAN SOSIAL,Payment For Nov'13 Staff Socso,301-001,----,...,43.9,None,None,170,F,None,NaN,0,None,None
4,332,PV-1312/001,PV,2013-12-31,2013-12-31,2013-12-31,KUMPULAN WANG SIMPANAN PEKERJA,Payment For Dec'13 Staff EPF Contribution,301-001,----,...,480,None,None,171,F,None,NaN,0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17801,78807,OR 220524,OR,2022-05-24,2022-05-24,2022-05-24,SHENZHEN STS MICROELECTRONICS CO LTD,Payment For Invoice - IN2201-021,301-003,CN,...,28277.8,PM,None,39129,F,None,NaN,0,None,None
17802,78809,OR 220525,OR,2022-05-26,2022-05-26,2022-05-26,PALMTOP VEGEOIL PRODUCTS SDN BHD,Payment For Invoice - IN2204-037,301-003,JB,...,295,PM,None,39167,F,None,NaN,0,None,None
17803,78811,OR 220526,OR,2022-05-27,2022-05-27,2022-05-27,FGV JOHOR BULKERS SDN BHD,Payment For Invoice - IN2204-124,301-003,JB,...,1060,PM,None,39196,F,None,NaN,0,None,None
17804,78813,OR 220527,OR,2022-05-27,2022-05-27,2022-05-27,ANALOG DEVICES SDN.BHD,Payment For Invoice - IN2204-052,301-003,----,...,2250,PM,None,39197,F,None,NaN,0,None,None
17805,78815,OR 220528,OR,2022-05-27,2022-05-27,2022-05-27,ON SEMICONDUCTOR MALAYSIA SDN.BHD,"Payment For Invoice - IN2203-008, IN2203-009, ...",301-003,SEREMBAN,...,14550.72,PM,None,39198,F,None,NaN,0,None,None

In [7]:
# Create a Cursor object that operates in the context of Connection con:
cur = connection.cursor()

# Execute the SELECT statement:
cur.execute("select * from GL_CBDTL")

# Fetch all records
records = cur.fetchall()

column_names = [desc[0] for desc in cur.description]

# Close the cursor and connection
cur.close()
connection.close()

cash_book_detail = pd.DataFrame(records, columns=column_names)
cash_book_detail

,DTLKEY,DOCKEY,SEQ,AREA,AGENT,PROJECT,CODE,DESCRIPTION,GST_DOCDATE,GST_DOCNO,...,TARIFF,TAXRATE,TAXAMT,LOCALTAXAMT,TAXINCLUSIVE,AMOUNT,LOCALAMOUNT,CURRENCYCODE,CURRENCYRATE,CURRENCYAMOUNT
0,321,320,1,----,----,----,711-000,Ng Kok Liang-SSM Registration & Documents Prin...,None,None,...,None,None,0,0,0,3209,3209,----,1,3209
1,323,322,1,----,----,----,719-000,Oliver Lee Fu Onn-Nov'13 Salary,None,None,...,None,None,0,0,0,2000,2000,----,1,2000
2,325,322,2,----,----,----,720-000,Oliver Lee Fu Onn-Nov'13 Allowance,None,None,...,None,None,0,0,0,1500,1500,----,1,1500
3,326,322,3,----,----,----,708-000,Oliver Lee Fu Onn-Nov'13 Salary,None,None,...,None,None,0,0,0,-220,-220,----,1,-220
4,327,322,4,----,----,----,721-000,Oliver Lee Fu Onn-Nov'13 Salary,None,None,...,None,None,0,0,0,-9.75,-9.75,----,1,-9.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56561,78808,78807,1,CN,CADEN HENG,----,300-S0029,Payment For Invoice - IN2201-021,None,None,...,None,None,0,0,0,28277.8,28277.8,US$,4.28613869,6597.5
56562,78810,78809,1,JB,ALAN TANG,----,300-P0022,Payment For Invoice - IN2204-037,None,None,...,None,None,0,0,0,295,295,----,1,295
56563,78812,78811,1,JB,ALAN TANG,----,300-F0005,Payment For Invoice - IN2204-124,None,None,...,None,None,0,0,0,1060,1060,----,1,1060
56564,78814,78813,1,----,KK KUOK,----,300-A0010,Payment For Invoice - IN2204-052,None,None,...,None,None,0,0,0,2250,2250,----,1,2250
56565,78816,78815,1,SEREMBAN,----,----,300-O0005,"Payment For Invoice - IN2203-008, IN2203-009, ...",None,None,...,None,None,0,0,0,14550.72,14550.72,----,1,14550.72

In [8]:
cash_book_column = cash_book.columns
print(cash_book_column)

Index(['DOCKEY', 'DOCNO', 'DOCTYPE', 'DOCDATE', 'POSTDATE', 'TAXDATE',
       'DESCRIPTION', 'DESCRIPTION2', 'PAYMENTMETHOD', 'AREA', 'AGENT',
       'PROJECT', 'JOURNAL', 'CHEQUENUMBER', 'CURRENCYCODE', 'CURRENCYRATE',
       'BANKCHARGE', 'BANKCHARGEACCOUNT', 'DOCAMT', 'LOCALDOCAMT',
       'FROMDOCTYPE', 'BOUNCEDDATE', 'GLTRANSID', 'CANCELLED', 'DEPOSITKEY',
       'UPDATECOUNT', 'PRINTCOUNT', 'ATTACHMENTS', 'NOTE'],
      dtype='object')

In [9]:
cash_book_detail_column = cash_book_detail.columns
print(cash_book_detail_column)

Index(['DTLKEY', 'DOCKEY', 'SEQ', 'AREA', 'AGENT', 'PROJECT', 'CODE',
       'DESCRIPTION', 'GST_DOCDATE', 'GST_DOCNO', 'COMPANYNAME', 'REGISTERNO',
       'GSTNO', 'PERMITNO', 'COUNTRY', 'TAX', 'TARIFF', 'TAXRATE', 'TAXAMT',
       'LOCALTAXAMT', 'TAXINCLUSIVE', 'AMOUNT', 'LOCALAMOUNT', 'CURRENCYCODE',
       'CURRENCYRATE', 'CURRENCYAMOUNT'],
      dtype='object')

In [10]:
cash_book = cash_book.drop(['DOCNO', 'DOCDATE', 'POSTDATE', 'TAXDATE', 'DESCRIPTION', 'DESCRIPTION2', 
                            'AREA', 'AGENT', 'PROJECT','JOURNAL', 'CHEQUENUMBER', 'CURRENCYCODE', 'CURRENCYRATE', 'DOCAMT', 'FROMDOCTYPE', 
                            'BOUNCEDDATE', 'GLTRANSID', 'CANCELLED', 'DEPOSITKEY', 'UPDATECOUNT', 'PRINTCOUNT', 
                            'ATTACHMENTS', 'NOTE'], axis=1)
cash_book_detail = cash_book_detail.drop(['DTLKEY', 'SEQ', 'AREA', 'AGENT', 'PROJECT', 
                                          'DESCRIPTION', 'GST_DOCDATE', 'GST_DOCNO', 'COMPANYNAME', 'REGISTERNO',
                                          'GSTNO', 'PERMITNO', 'COUNTRY', 'TAX', 'TARIFF', 'TAXRATE', 'TAXAMT',
                                          'LOCALTAXAMT', 'TAXINCLUSIVE', 'AMOUNT', 'LOCALAMOUNT', 'CURRENCYCODE',
                                          'CURRENCYAMOUNT'], axis=1)
merged_cash_book = pd.merge(cash_book, cash_book_detail, on='DOCKEY')
merged_cash_book

,DOCKEY,DOCTYPE,PAYMENTMETHOD,BANKCHARGE,BANKCHARGEACCOUNT,LOCALDOCAMT,CODE,CURRENCYRATE
0,320,PV,301-001,0,None,3209,711-000,1
1,322,PV,301-001,0,None,3270.25,719-000,1
2,322,PV,301-001,0,None,3270.25,720-000,1
3,322,PV,301-001,0,None,3270.25,708-000,1
4,322,PV,301-001,0,None,3270.25,721-000,1
...,...,...,...,...,...,...,...,...
56561,78807,OR,301-003,128.58,703-000,28277.8,300-S0029,4.28613869
56562,78809,OR,301-003,0,None,295,300-P0022,1
56563,78811,OR,301-003,0,None,1060,300-F0005,1
56564,78813,OR,301-003,0,None,2250,300-A0010,1
56565,78815,OR,301-003,0,None,14550.72,300-O0005,1

In [11]:
# Drop rows with missing values in the target variable
merged_cash_book = merged_cash_book.dropna(subset=['BANKCHARGE'])
merged_cash_book = merged_cash_book.dropna(subset=['BANKCHARGEACCOUNT'])
merged_cash_book = merged_cash_book[merged_cash_book['DOCTYPE'] != 'OR']
merged_cash_book = merged_cash_book[merged_cash_book['CURRENCYRATE'] != 1.0]
merged_cash_book = merged_cash_book[merged_cash_book['CURRENCYRATE'] != 0.0]
merged_cash_book

,DOCKEY,DOCTYPE,PAYMENTMETHOD,BANKCHARGE,BANKCHARGEACCOUNT,LOCALDOCAMT,CODE,CURRENCYRATE
1536,3075,PV,301-004,26,703-000,125441.19,301-007,4.185
1777,3470,PV,301-007,30,703-000,2651.46,400-T0014,4.13
2277,4356,PV,301-001,16.97,703-000,4089.45,400-J0005,4.11
2400,4591,PV,303-010,31.8,703-000,78133.88,400-J0006,4.10367017
4413,7793,PV,301-007,18,703-000,10358.12,400-Y0002,4.332
...,...,...,...,...,...,...,...,...
56004,77995,PV,301-007,11.4,703-000,4698.85,400-W0015,4.94615789
56005,77997,PV,301-007,29.02,703-000,45019.88,400-X0005,4.223
56016,78016,PV,301-007,29,703-000,86784.99,400-X0005,4.232
56088,78129,PV,301-007,10.94,703-000,21450,400-B0031,4.29
56248,78342,PV,301-007,28.83,703-000,48764.64,400-X0005,4.352

In [12]:
# Use OneHotEncoder instead of LabelEncoder for categorical features
pm_encoder = OneHotEncoder(sparse=False, drop='first')
code_encoder = OneHotEncoder(sparse=False, drop='first')

# Transform 'PAYMENTMETHOD' using one-hot encoding
payment_method_encoded = pm_encoder.fit_transform(merged_cash_book[['PAYMENTMETHOD']])
payment_method_columns = pm_encoder.get_feature_names_out(['PAYMENTMETHOD'])

# Transform 'CODE' using one-hot encoding
code_encoded = code_encoder.fit_transform(merged_cash_book[['CODE']])
code_columns = code_encoder.get_feature_names_out(['CODE'])

# Combine the one-hot encoded features with the other numerical feature
merged_cash_book_encoded = pd.concat([
    merged_cash_book[['LOCALDOCAMT', 'BANKCHARGE', 'CURRENCYRATE']].reset_index(drop=True),  # Reset index before concatenation
    pd.DataFrame(payment_method_encoded, columns=payment_method_columns).reset_index(drop=True),
    pd.DataFrame(code_encoded, columns=code_columns).reset_index(drop=True)
], axis=1)

# Display the DataFrame with the reset index
merged_cash_book_encoded

C:\Users\SQL\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\SQL\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,LOCALDOCAMT,BANKCHARGE,CURRENCYRATE,PAYMENTMETHOD_301-004,PAYMENTMETHOD_301-006,PAYMENTMETHOD_301-007,PAYMENTMETHOD_301-009,PAYMENTMETHOD_301-010,PAYMENTMETHOD_301-011,PAYMENTMETHOD_301-013,...,CODE_400-W0003,CODE_400-W0006,CODE_400-W0009,CODE_400-W0015,CODE_400-X0005,CODE_400-Y0002,CODE_400-Y0003,CODE_601-000,CODE_605-000,CODE_744-000
0,125441.19,26,4.185,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2651.46,30,4.13,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4089.45,16.97,4.11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,78133.88,31.8,4.10367017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10358.12,18,4.332,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,4698.85,11.4,4.94615789,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
225,45019.88,29.02,4.223,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
226,86784.99,29,4.232,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
227,21450,10.94,4.29,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
228,48764.64,28.83,4.352,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# Split the data into features and target
features = merged_cash_book_encoded.drop('BANKCHARGE', axis=1)
target = merged_cash_book_encoded['BANKCHARGE']

In [14]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [15]:
# Initialize and train the RandomForestRegressor
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [16]:
# Make predictions on the test set
predictions = model.predict(X_test)

In [17]:
# Evaluate the model
mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, predictions)

In [18]:
print(f'Mean Absolute Error (MAE): {mae}')
print(f'Mean Squared Error (MSE): {mse}')
print(f'Root Mean Squared Error (RMSE): {rmse}')
print(f'R-squared (R2): {r2}')

Mean Absolute Error (MAE): 4.814284782608696
Mean Squared Error (MSE): 164.31221476891307
Root Mean Squared Error (RMSE): 12.818432617481479
R-squared (R2): 0.6485099161032697

In [19]:
# Now you can use the trained model to make predictions for new data
new_data = pd.DataFrame({
    'PAYMENTMETHOD': ['301-007'],
    'LOCALDOCAMT': [10358.12],
    'CODE': ['400-Y0002'],
    'CURRENCYRATE': [4.332000]
})

# Transform 'PAYMENTMETHOD', 'CODE', and 'CURRENCYRATE' using the previously fitted encoders
new_data_payment_method_encoded = pd.DataFrame(pm_encoder.transform(new_data[['PAYMENTMETHOD']]), columns=payment_method_columns)
new_data_code_encoded = pd.DataFrame(code_encoder.transform(new_data[['CODE']]), columns=code_columns)

# Combine the one-hot encoded features with the other numerical feature
new_data_encoded = pd.concat([
    new_data[['LOCALDOCAMT', 'CURRENCYRATE']],
    new_data_payment_method_encoded,
    new_data_code_encoded
], axis=1)

# Ensure new_data_encoded has all the necessary columns with zero values
missing_columns = set(X_train.columns) - set(new_data_encoded.columns)
for col in missing_columns:
    new_data_encoded[col] = 0

# Reorder columns to match the order during training
new_data_encoded = new_data_encoded[X_train.columns]

# Make predictions for the new data
prediction_new_data = model.predict(new_data_encoded)

print(f'Predicted BANKCHARGE for new data: {prediction_new_data[0]}')

Predicted BANKCHARGE for new data: 18.0